@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap");

:root {
  --color-primary: #343353;
  --bg-color-primary: rgb(109, 112, 226);
  --color-secondary: #ff4c60;
  --bg-color-secondary: rgb(247, 124, 140);
  --color-terciary: #ffd15c;
  --bg-color-terciaty: rgb(254, 208, 102);
}

/* -------- ESTILOS GENERALES */
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  color: var(--color-primary);

  /* Rocket Base */
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  /* Rocket Base */
}
main {
  /* Rocket Base */
  overflow-y: scroll;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
  /* Rocket Base */
}

h1 {
  color: aliceblue;
  font-size: 28px;
  margin-top: 65px;
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
}
h1 span {
  color: aliceblue;
  font-size: 16px;
  margin: 18px auto;
  font-weight: 300;
}
h2 {
  margin: 38px 0;
  font-size: 28px;
}
p {
  font-size: 16px;
  margin-top: 0;
  line-height: 25px;
  margin-right: 15px;
  margin-bottom: 0;
}
a {
  text-decoration: none;
}

.container {
  margin: 60px 55px;
  display: flex;
  flex-direction: column;
}
.col {
  display: block;
}
.card {
  padding: 30px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  border-radius: 1rem;
  box-shadow: 0 0 8px 0 rgba(144, 149, 161, 0.15);
}

.title-content {
  margin: 38px 0;
  font-size: 28px;
}
/* BOTONES */
.btn,
a.btn {
  margin-top: 24px;
  border: none;
  height: 42px;
  border-radius: 25px;
  padding: 0 15px;
  text-align: center;
  color: #fafafa;
  font-weight: bold;
  cursor: pointer;
}
a.btn {
  padding: 10px 20px;
  text-decoration: none;
}
.btn-scroll {
  position: absolute;
  bottom: 26px;
  left: calc(50% - 41.5px);
  color: aliceblue;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scroll-icon {
  margin-top: 12px;
  width: 16px;
}
.btn-social-desk {
  display: flex;
}
.btn-social {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin: 0 5px;
}
.bg-linkedin {
  background-image: url("./assets/icons/linkedin.svg");
}
.bg-github {
  background-image: url("./assets/icons/github.svg");
}
.bg-twitter {
  background-image: url("./assets/icons/gorjeo.svg");
}
.bg-instagram {
  background-image: url("./assets/icons/instagram.svg");
}
/* BARRA DE PROGRESO */
.progess {
  margin: 20px 0;
  width: 100%;
  background-color: rgba(144, 149, 161, 0.15);
  border-radius: 1rem;
  height: 6px;
  display: block;
}
.progess > .progress-bar {
  border-radius: 1rem;
  height: 6px;
  display: block;
}
/* TEXT COLORS */
.secondary {
  color: var(--color-secondary);
}
/* BG COLORES */
.bg-primary {
  background-color: var(--bg-color-primary);
  color: #fafafa;
}
.bg-secondary {
  background-color: var(--bg-color-secondary);
}
.bg-terciary {
  background-color: var(--bg-color-terciaty);
  color: var(--color-primary);
}
.btn {
  background-color: var(--color-secondary);
}
/* -------- ESTILOS GENERALES */

/* NAVBAR */
.navbar-container {
  min-width: 290px;
  max-width: 290px;
  border-right: solid 1px rgba(255, 255, 255, 0.1);
  background-color: var(--color-primary);
}
.navbar {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 50px;
  width: 290px;
}
.navbar > span {
  font-size: 28px;
  color: aliceblue;
  font-weight: bold;
  margin-top: 60px;
  margin-bottom: 103px;
}
.navbar > a {
  font-size: 16px;
  font-weight: 300;
  color: aliceblue;
  text-decoration: none;
  margin: 8px 0;
}
.navbar-icon {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.navbar-open,
.navbar-input {
  display: none;
}

/* BANNER */
.banner-container {
  height: 100%;
  width: 100%;
  position: relative;
  background-color: var(--color-primary);
}
.background-image {
  height: 100%;
  width: 100%;
  background-image: url("./assets/index/fondo.svg");
  position: absolute;
}
.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.banner-info > img {
  width: 108px;
  height: 108px;
}
/* SKILS */
.about-me-container {
  display: flex;
}
.about-me-container > img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
/*SERVICES*/
.services-container {
  display: flex;
}
.services-container > .card {
  display: flex;
  flex-direction: column;
  margin-right: 52px;
  text-align: center;
  min-width: 250px;
}
.services-container > .card > img {
  width: 70px;
  align-self: center;
  height: auto;
  margin: 0;
}
.services-container > .card:last-of-type {
  margin-right: 0;
}
/*EXPERIENCE*/
.experience-container__topics {
  display: flex;
}
.experience-container__topics__card {
  display: flex;
  flex-direction: column;
  margin: 0 10px;
}
.experience-container__topics__card:first-of-type {
  margin-left: 0;
}
.experience-container__topics__card:last-of-type {
  margin-right: 0;
}
.experience-container__topics__card__data {
  padding: 0 0 50px 50px;
  border-left: 1px solid var(--color-secondary);
  position: relative;
}
.experience-container__topics__card__data > i {
  position: absolute;
  color: var(--color-secondary);
  left: -8.5px;
  top: -11px;
}
.experience-container__topics__card__data > h3 {
  margin: 10px 0;
}
.experience-container__topics__card__data > span {
  font-size: 14px;
  color: gray;
}
/* WORKS */
.works-container > a,
.works-container > a.btn {
  margin-top: 25px;
  align-self: flex-start;
  display: block;
  max-width: fit-content;
}
.works-container > a.btn {
  align-self: center;
}
.works-container__topics {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 50px;
  grid-row-gap: 20px;
}
.works-img {
  max-width: 200px;
  max-height: 200px;
  align-self: center;
  margin: 0;
}
.works-container__topics__card {
  position: relative;
}
.works-container__topics__card__mask {
  background: #6c6ce5;
  opacity: 0; /*Con esta propiedad le cambiamos la transparencia a nuestas cajas*/
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  padding: 30px 0 0 30px;
}
.works-container__topics__card__mask > span {
  color: #fafafa;
  font-size: 28px;
}
.works-container__topics__card:hover > .works-container__topics__card__mask {
  opacity: 0.9;
}
/* CONTACTME */
.formulario {
  display: grid;
  grid-template-columns: 1fr 1.5fr;
}
input,
textarea {
  padding-left: 1rem;
  border-radius: 1rem;
  box-shadow: 0 0 8px 0 rgba(144, 149, 161, 0.3);
  border: none;
}
input {
  height: 40px;
  margin: 0 20px 20px 0;
  width: calc(50% - 12px);
}
input:last-of-type {
  margin-right: 0;
}
textarea {
  padding-top: 1rem;
  height: 30vh;
  width: 100%;
  resize: none;
}
/* FOOTER */
.footer {
  background-color: var(--color-primary);
  color: #fafafa;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 50px;
}
.footer span {
  font-weight: bold;
}
.footer .btn-social {
  background-size: 16px;
}

/* RESPONSIVE */
@media (max-width: 1000px) {
  /* -------- ESTILOS GENERALES */
  .container {
    margin: 0 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .col {
    text-align: center;
  }

  .btn {
    margin-bottom: 24px;
  }
  .card {
    display: flex;
    flex-direction: column;
    margin-right: 0;
  }

  /* NAVBAR */
  .navbar-container {
    min-width: initial;
    max-width: initial;
    border: none;
    display: block;
  }
  .navbar-open,
  .navbar-input {
    display: block;
  }
  .navbar-open,
  .navbar-close {
    color: var(--color-terciary);
    padding: 1rem;
    position: absolute;
    z-index: 1;
  }
  .navbar-input,
  .navbar-close {
    display: none;
    position: absolute;
    z-index: 1;
  }
  .navbar-input:checked ~ .navbar-close {
    display: block;
  }
  .navbar-input:checked ~ .navbar-open {
    display: none;
  }
  .navbar {
    display: none;
  }
  .navbar-input:checked ~ .navbar {
    background-color: var(--color-primary);
    opacity: 0.9;
    padding: 2rem;
    border-radius: 1rem;
    display: flex;
    margin: 2.5rem 0 0 2.5rem;
    flex-direction: column;
    position: absolute;
    z-index: 1;
  }
  .navbar-input:checked ~ .navbar span {
    margin: 20px;
  }

  /* SKILS */
  .about-me-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .about-me-container > img {
    margin-bottom: 20px;
  }
  /* Services */
  .services-container {
    flex-direction: column;
  }
  .services-container > .card {
    margin-right: 0;
    margin-bottom: 52px;
  }
  /* xperiencia */
  .experience-container__topics {
    flex-direction: column;
  }
  .experience-container__topics__card:last-of-type {
    margin-top: 16px;
  }
  /* Works */
  .works-container__topics {
    display: flex;
    flex-direction: column;
  }
  .works-container__topics__card__mask {
    top: 0;
    left: 0;
  }
  /* Contacto */
  .formulario {
    display: flex;
    flex-direction: column;
  }
  form {
    margin-top: 16px;
  }
  input {
    width: 100%;
  }
}
