@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100&display=swap");
body {
  font-family: "Roboto", sans-serif;
}
.banner-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.avatar {
  width: 108px;
  height: 108px;
}
.profile-name {
  color: aliceblue;
  font-size: 28px;
  margin-top: 65px;
  margin-bottom: 0;
}
.profile-span {
  color: aliceblue;
  font-size: 16px;
  margin: 18px auto;
}
.social-buttons {
  display: flex;
}
.linkedin,
.github,
.twitter,
.instagram {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  height: 25px;
  width: 25px;
  margin: 0 5px;
}
.linkedin {
  background-image: url("../imagenes/icons/linkedin.svg");
}
.github {
  background-image: url("../imagenes/icons/github.svg");
}
.twitter {
  background-image: url("../imagenes/icons/gorjeo.svg");
}
.instagram {
  background-image: url("../imagenes/icons/instagram.svg");
}
.contactame {
  margin-top: 24px;
  border: none;
  height: 42px;
  border-radius: 25px;
  padding: 0 15px;
  text-align: center;
  background-color: var(--color-secondary);
  color: aliceblue;
  font-weight: 300;
  cursor: pointer;
}

/* about-me */
.about-me {
  margin: 60px 55px;
}
.about-me > h2 {
  margin: 38px 0;
  font-size: 28px;
}
.about-me-container {
  display: flex;
}
.about-me-container > img {
  width: 150px;
  height: 150px;
  margin-right: 20px;
}
.card {
  margin: 30px;
  display: flex;
  border: 1px black;
}
.col {
  max-width: 50%;
}
.col > p {
  font-size: 16px;
  margin-top: 0;
  line-height: 25px;
  margin-right: 5px;
}
